@charset "utf-8";
/* CSS Document */

body {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

nav {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;	
	font-size:18px;
	position:absolute;
	top:0%;
	right:0%;
	background-color:
}

h1 {
	
}